.files-list {
  padding: 0;
  margin: 0;
  list-style: none;
  &__item {
    user-select: none;
    position: relative;
    &:not(&:last-child) {
      border-bottom: 1px solid gray;
    }
  }
  &__file {
    position: relative;
  }
  &__preview {
    position: absolute;
    left: calc(100% + 25px);
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background: transparent;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      z-index: 5;
    }
  }
  &__file, &__folder {
    margin-left: 5px;
  }
  &__format {
    color: #fff;
    display: inline-block;
    background: #232323;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
  }
  &__size {
    position: absolute;
    right: 0;
  }
}

.go-back-path {
  user-select: none;
}